# PyBroker Tutorial: Getting Started with Algorithmic Trading

## Introduction

Welcome to this tutorial on PyBroker, a powerful Python framework for developing algorithmic trading strategies. In this notebook, we'll walk through the process of installing PyBroker and getting started with some basic concepts.

## 1. Installation

First, let's install PyBroker. We'll use pip to install the latest version.

In [3]:
! pip install -U lib-pybroker

Requirement already satisfied: lib-pybroker in /Users/liang/miniconda3/lib/python3.10/site-packages (1.2.0)
Requirement already satisfied: akshare<2,>=1.10.1 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (1.13.91)
Requirement already satisfied: alpaca-py<1,>=0.7.2 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (0.28.0)
Requirement already satisfied: diskcache<6,>=5.4.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (5.6.3)
Requirement already satisfied: joblib<2,>=1.2.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (1.3.2)
Requirement already satisfied: numba<1,>=0.60.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (0.60.0)
Requirement already satisfied: numpy<3,>=2.0.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (2.0.0)
Requirement already satisfied: pandas<3,>=2.2.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (2.2.2)
Requirement already satisfied: progressbar2<5,>=4.1.1 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (4.4.2)
Requirement already satisfied: yahooquery<3,>=2.3.7 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (2.3.7)
Requirement already satisfied: yfinance<1,>=0.1.84 in /Users/liang/miniconda3/lib/python3.10/site-packages (from lib-pybroker) (0.2.38)
Requirement already satisfied: beautifulsoup4>=4.9.1 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (4.12.2)
Requirement already satisfied: lxml>=4.2.1 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (4.9.3)
Requirement already satisfied: requests>=2.22.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (2.31.0)
Requirement already satisfied: html5lib>=1.0.1 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (1.1)
Requirement already satisfied: xlrd>=1.2.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (2.0.1)
Requirement already satisfied: urllib3>=1.25.8 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (1.26.18)
Requirement already satisfied: tqdm>=4.43.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (4.65.0)
Requirement already satisfied: openpyxl>=3.0.3 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (3.1.2)
Requirement already satisfied: jsonpath>=0.82 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (0.82.2)
Requirement already satisfied: tabulate>=0.8.6 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (0.9.0)
Requirement already satisfied: decorator>=4.4.2 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (5.1.1)
Requirement already satisfied: py-mini-racer>=0.6.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (0.6.0)
Requirement already satisfied: akracer>=0.0.11 in /Users/liang/miniconda3/lib/python3.10/site-packages (from akshare<2,>=1.10.1->lib-pybroker) (0.0.13)
Requirement already satisfied: msgpack<2.0.0,>=1.0.3 in /Users/liang/miniconda3/lib/python3.10/site-packages (from alpaca-py<1,>=0.7.2->lib-pybroker) (1.0.3)
Requirement already satisfied: pydantic<3.0.0,>=2.0.3 in /Users/liang/miniconda3/lib/python3.10/site-packages (from alpaca-py<1,>=0.7.2->lib-pybroker) (2.6.4)
Requirement already satisfied: sseclient-py<2.0.0,>=1.7.2 in /Users/liang/miniconda3/lib/python3.10/site-packages (from alpaca-py<1,>=0.7.2->lib-pybroker) (1.8.0)
Requirement already satisfied: websockets>=10.4 in /Users/liang/miniconda3/lib/python3.10/site-packages (from alpaca-py<1,>=0.7.2->lib-pybroker) (10.4)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from numba<1,>=0.60.0->lib-pybroker) (0.43.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/liang/miniconda3/lib/python3.10/site-packages (from pandas<3,>=2.2.0->lib-pybroker) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/liang/miniconda3/lib/python3.10/site-packages (from pandas<3,>=2.2.0->lib-pybroker) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/liang/miniconda3/lib/python3.10/site-packages (from pandas<3,>=2.2.0->lib-pybroker) (2023.3)
Requirement already satisfied: python-utils>=3.8.1 in /Users/liang/miniconda3/lib/python3.10/site-packages (from progressbar2<5,>=4.1.1->lib-pybroker) (3.8.2)
Requirement already satisfied: requests-futures<2.0.0,>=1.0.1 in /Users/liang/miniconda3/lib/python3.10/site-packages (from yahooquery<3,>=2.3.7->lib-pybroker) (1.0.1)
Requirement already satisfied: multitasking>=0.0.7 in /Users/liang/miniconda3/lib/python3.10/site-packages (from yfinance<1,>=0.1.84->lib-pybroker) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /Users/liang/miniconda3/lib/python3.10/site-packages (from yfinance<1,>=0.1.84->lib-pybroker) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in /Users/liang/miniconda3/lib/python3.10/site-packages (from yfinance<1,>=0.1.84->lib-pybroker) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /Users/liang/miniconda3/lib/python3.10/site-packages (from yfinance<1,>=0.1.84->lib-pybroker) (3.17.5)
Requirement already satisfied: soupsieve>1.2 in /Users/liang/miniconda3/lib/python3.10/site-packages (from beautifulsoup4>=4.9.1->akshare<2,>=1.10.1->lib-pybroker) (2.5)
Requirement already satisfied: six>=1.9 in /Users/liang/miniconda3/lib/python3.10/site-packages (from html5lib>=1.0.1->akshare<2,>=1.10.1->lib-pybroker) (1.16.0)
Requirement already satisfied: webencodings in /Users/liang/miniconda3/lib/python3.10/site-packages (from html5lib>=1.0.1->akshare<2,>=1.10.1->lib-pybroker) (0.5.1)
Requirement already satisfied: et-xmlfile in /Users/liang/miniconda3/lib/python3.10/site-packages (from openpyxl>=3.0.3->akshare<2,>=1.10.1->lib-pybroker) (1.1.0)
Requirement already satisfied: annotated-types>=0.4.0 in /Users/liang/miniconda3/lib/python3.10/site-packages (from pydantic<3.0.0,>=2.0.3->alpaca-py<1,>=0.7.2->lib-pybroker) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in /Users/liang/miniconda3/lib/python3.10/site-packages (from pydantic<3.0.0,>=2.0.3->alpaca-py<1,>=0.7.2->lib-pybroker) (2.16.3)
Requirement already satisfied: typing-extensions>=4.6.1 in /Users/liang/miniconda3/lib/python3.10/site-packages (from pydantic<3.0.0,>=2.0.3->alpaca-py<1,>=0.7.2->lib-pybroker) (4.8.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/liang/miniconda3/lib/python3.10/site-packages (from requests>=2.22.0->akshare<2,>=1.10.1->lib-pybroker) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/liang/miniconda3/lib/python3.10/site-packages (from requests>=2.22.0->akshare<2,>=1.10.1->lib-pybroker) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/liang/miniconda3/lib/python3.10/site-packages (from requests>=2.22.0->akshare<2,>=1.10.1->lib-pybroker) (2023.11.17)

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: pip install --upgrade pip

In [4]:
import pybroker
print(f"PyBroker version: {pybroker.__version__}")

PyBroker version: 1.2.0

## 2. Data Sources
- yfinance
- akshare

caching data
- caching by calling: pybroker.enable_data_source_cache(‘name’) 
- clear cache using: pybroker.clear_data_source_cache()
- disable caching using: pybroker.disable_data_source_cache()

In [8]:
import pybroker
pybroker.enable_data_source_cache('yfinance')

In [5]:
from pybroker import YFinance

yfinance = YFinance()
df = yfinance.query(['AAPL', 'MSFT'], start_date='1/1/2021', end_date='1/1/2024')
df

Loading bar data...

[*********************100%%**********************]  2 of 2 completed

Loaded bar data: 0:00:06

,date,symbol,open,high,low,close,volume,adj_close
0,2021-03-01,AAPL,123.750000,127.930000,122.790001,127.790001,116307900,125.429527
1,2021-03-01,MSFT,235.899994,237.470001,233.149994,236.940002,25324000,230.432037
2,2021-03-02,AAPL,128.410004,128.720001,125.010002,125.120003,102260900,122.808853
3,2021-03-02,MSFT,237.009995,237.300003,233.449997,233.869995,22812500,227.446396
4,2021-03-03,AAPL,124.809998,125.709999,121.839996,122.059998,112966300,119.805336
...,...,...,...,...,...,...,...,...
501,2022-02-24,MSFT,272.510010,295.160004,271.519989,294.589996,56989700,288.832275
502,2022-02-25,AAPL,163.839996,165.119995,160.869995,164.850006,91974200,162.766663
503,2022-02-25,MSFT,295.140015,297.630005,291.649994,297.309998,32546700,291.499054
504,2022-02-28,AAPL,163.059998,165.419998,162.429993,165.119995,95056600,163.033234
505,2022-02-28,MSFT,294.309998,299.140015,293.000000,298.790009,34627500,292.950195

In [7]:
from pybroker.ext.data import AKShare

akshare = AKShare()
# You can substitute 000001.SZ with 000001, and it will still work!
# and you can set start_date as "20210301" format
# You can also set adjust to 'qfq' or 'hfq' to adjust the data,
# and set timeframe to '1d', '1w' to get daily, weekly data
df = akshare.query(
    symbols=['000001.SZ', '600000.SH'],
    start_date='1/1/2021',
    end_date='1/1/2024',
    adjust="qfq",
    timeframe="1d",
)
df

Loading bar data...
Loaded bar data: 0:00:15

          date     symbol   open   high    low  close   volume
0   2021-03-01  000001.SZ  20.13  20.27  19.77  20.04  1125387
1   2021-03-01  600000.SH   9.38   9.43   9.29   9.37   547461
2   2021-03-02  000001.SZ  20.21  20.74  19.85  20.24  1473425
3   2021-03-02  600000.SH   9.40   9.49   9.15   9.26   747631
4   2021-03-03  000001.SZ  20.17  21.67  20.05  21.60  1919635
..         ...        ...    ...    ...    ...    ...      ...
969 2023-02-27  600000.SH   6.84   6.88   6.84   6.84   158006
970 2023-02-28  000001.SZ  12.75  12.85  12.61  12.78   607936
971 2023-02-28  600000.SH   6.86   6.88   6.82   6.86   174481
972 2023-03-01  000001.SZ  12.80  13.19  12.74  13.17  1223452
973 2023-03-01  600000.SH   6.85   6.95   6.85   6.94   256613

[974 rows x 7 columns]

## 3. Backtesting a Strategy
 set up a new instance of the Strategy class which will be used to perform a backtest on the trading strategy

In [9]:
import pybroker
from pybroker import Strategy, StrategyConfig, YFinance

pybroker.enable_data_source_cache('my_strategy')

config = StrategyConfig(initial_cash=500_000)
strategy = Strategy(YFinance(), '1/1/2021', '1/1/2024', config)

In [10]:
def buy_low(ctx):
    # If shares were already purchased and are currently being held, then return.
    if ctx.long_pos():
        return
    # If the latest close price is less than the previous day's low price,
    # then place a buy order.
    if ctx.bars >= 2 and ctx.close[-1] < ctx.low[-2]:
        # Buy a number of shares that is equal to 25% the portfolio.
        ctx.buy_shares = ctx.calc_target_shares(0.25)
        # Set the limit price of the order.
        ctx.buy_limit_price = ctx.close[-1] - 0.01
        # Hold the position for 3 bars before liquidating (in this case, 3 days).
        ctx.hold_bars = 3

strategy.add_execution(buy_low, ['AAPL', 'MSFT'])

In [ ]:
def short_high(ctx):
    # If shares were already shorted then return.
    if ctx.short_pos():
        return
    # If the latest close price is more than the previous day's high price,
    # then place a sell order.
    if ctx.bars >= 2 and ctx.close[-1] > ctx.high[-2]:
        # Short 100 shares.
        ctx.sell_shares = 100
        # Cover the shares after 2 bars (in this case, 2 days).
        ctx.hold_bars = 2
strategy.add_execution(short_high, ['TSLA'])

In [15]:
result = strategy.backtest()

Backtesting: 2021-01-01 00:00:00 to 2024-01-01 00:00:00

Loaded cached bar data.

Test split: 2021-01-04 00:00:00 to 2023-12-29 00:00:00

  0% (0 of 753) |                        | Elapsed Time: 0:00:00 ETA:  --:--:--
 26% (201 of 753) |#####                 | Elapsed Time: 0:00:00 ETA:   0:00:00
 57% (431 of 753) |############          | Elapsed Time: 0:00:00 ETA:   0:00:00
 87% (661 of 753) |###################   | Elapsed Time: 0:00:00 ETA:   0:00:00
100% (753 of 753) |######################| Elapsed Time: 0:00:00 Time:  0:00:00

Finished backtest: 0:00:00

In [ ]:
import matplotlib.pyplot as plt

chart = plt.subplot2grid((3, 2), (0, 0), rowspan=3, colspan=2)
chart.plot(result.portfolio.index, result.portfolio['market_value'])

In [20]:
result.positions

                   long_shares  short_shares   close     equity  market_value  \
symbol date
TSLA   2021-01-07            0           100  272.01       0.00      26536.00
       2021-01-08            0           100  293.34       0.00      26536.00
AAPL   2021-01-12          967             0  128.80  124549.60     124549.60
       2021-01-13          967             0  130.89  126570.63     126570.63
       2021-01-14          967             0  128.91  124655.97     124655.97
...                        ...           ...     ...        ...           ...
       2023-12-22          732             0  193.60  141715.20     141715.20
       2023-12-26          732             0  193.05  141312.60     141312.60
       2023-12-27          732             0  193.15  141385.80     141385.80
TSLA   2023-12-28            0           100  253.18       0.00      25892.00
       2023-12-29            0           100  248.48       0.00      25892.00

                     margin  unrealized_pnl
symbol date
TSLA   2021-01-07  27201.33         -665.33
       2021-01-08  29334.00        -2798.00
AAPL   2021-01-12      0.00          502.84
       2021-01-13      0.00         2523.87
       2021-01-14      0.00          609.21
...                     ...             ...
       2023-12-22      0.00         -431.88
       2023-12-26      0.00         -834.48
       2023-12-27      0.00         -761.28
TSLA   2023-12-28  25318.00          574.00
       2023-12-29  24848.00         1044.00

[609 rows x 7 columns]

In [21]:
result.trades

,type,symbol,entry_date,exit_date,entry,exit,shares,pnl,return_pct,agg_pnl,bars,pnl_per_bar,stop,mae,mfe
id,,,,,,,,,,,,,,,
1,short,TSLA,2021-01-07,2021-01-11,265.36,276.34,100,-1098.00,-3.97,-1098.00,2,-549.00,bar,-29.47,6.96
2,long,AAPL,2021-01-12,2021-01-15,128.28,128.61,967,319.11,0.26,-778.89,3,106.37,bar,-1.42,3.17
3,short,TSLA,2021-01-21,2021-01-25,282.86,289.87,100,-701.00,-2.42,-1479.89,2,-350.50,bar,-7.01,6.65
4,short,TSLA,2021-01-26,2021-01-28,294.58,274.83,100,1975.00,7.19,495.11,2,987.50,bar,-4.05,19.75
5,long,AAPL,2021-01-29,2021-02-03,133.48,134.69,912,1103.52,0.91,1598.63,3,367.84,bar,-3.27,3.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,long,AAPL,2023-11-27,2023-11-30,189.78,189.26,748,-388.96,-0.27,68793.03,3,-129.65,bar,-0.88,2.31
242,short,TSLA,2023-11-29,2023-12-01,247.75,236.04,100,1171.00,4.96,69964.03,2,585.50,bar,-5.00,11.71
243,long,MSFT,2023-12-04,2023-12-07,366.21,368.89,380,1018.40,0.73,70982.43,3,339.47,bar,-3.31,7.97
244,short,TSLA,2023-12-14,2023-12-18,247.33,255.05,100,-772.00,-3.03,70210.43,2,-386.00,bar,-7.72,6.54
245,long,AAPL,2023-12-22,2023-12-28,194.19,193.92,732,-197.64,-0.14,70012.79,3,-65.88,bar,-3.10,1.22

In [22]:
result.orders

     type symbol       date  shares  limit_price  fill_price  fees
id
1    sell   TSLA 2021-01-07     100          NaN      265.36   0.0
2     buy   TSLA 2021-01-11     100          NaN      276.34   0.0
3     buy   AAPL 2021-01-12     967       128.97      128.28   0.0
4    sell   AAPL 2021-01-15     967          NaN      128.61   0.0
5    sell   TSLA 2021-01-21     100          NaN      282.86   0.0
..    ...    ...        ...     ...          ...         ...   ...
487  sell   TSLA 2023-12-14     100          NaN      247.33   0.0
488   buy   TSLA 2023-12-18     100          NaN      255.05   0.0
489   buy   AAPL 2023-12-22     732       194.67      194.19   0.0
490  sell   AAPL 2023-12-28     732          NaN      193.92   0.0
491  sell   TSLA 2023-12-28     100          NaN      258.92   0.0

[491 rows x 7 columns]

In [23]:
result.metrics_df

                      name          value
0              trade_count     245.000000
1     initial_market_value  500000.000000
2         end_market_value  571056.790000
3                total_pnl   70012.790000
4           unrealized_pnl    1044.000000
5         total_return_pct      14.002558
6             total_profit  265724.120000
7               total_loss -195711.330000
8               total_fees       0.000000
9             max_drawdown  -29469.280000
10        max_drawdown_pct      -5.607397
11                win_rate      55.102041
12               loss_rate      44.897959
13          winning_trades     135.000000
14           losing_trades     110.000000
15                 avg_pnl     285.766490
16          avg_return_pct       0.449265
17          avg_trade_bars       2.477551
18              avg_profit    1968.326815
19          avg_profit_pct       3.173333
20  avg_winning_trade_bars       2.481481
21                avg_loss   -1779.193909
22            avg_loss_pct      -2.893909
23   avg_losing_trade_bars       2.472727
24             largest_win   13483.440000
25         largest_win_pct       9.920000
26        largest_win_bars       3.000000
27            largest_loss   -9885.450000
28        largest_loss_pct      -7.520000
29       largest_loss_bars       3.000000
30                max_wins       8.000000
31              max_losses       7.000000
32                  sharpe       0.046604
33                 sortino       0.061597
34           profit_factor       1.191017
35             ulcer_index       0.917534
36                     upi       0.020072
37               equity_r2       0.863441
38               std_error   27375.965711

## 4. Evaluating
Bootstrap metrics can help us to more thoroughly evaluate a trading strategy

In [24]:
import pybroker
from pybroker import Strategy, StrategyConfig, YFinance

pybroker.enable_data_source_cache('my_strategy')

def buy_low(ctx):
    if ctx.long_pos():
        return
    if ctx.bars >= 2 and ctx.close[-1] < ctx.low[-2]:
        ctx.buy_shares = ctx.calc_target_shares(0.25)
        ctx.buy_limit_price = ctx.close[-1] - 0.01
        ctx.hold_bars = 3

def short_high(ctx):
    if ctx.short_pos():
        return
    if ctx.bars >= 2 and ctx.close[-1] > ctx.high[-2]:
        ctx.sell_shares = 100
        ctx.hold_bars = 2

config = StrategyConfig(initial_cash=500_000, bootstrap_sample_size=100)
strategy = Strategy(YFinance(), '3/1/2017', '3/1/2022', config)
strategy.add_execution(buy_low, ['AAPL', 'MSFT'])
strategy.add_execution(short_high, ['TSLA'])

result = strategy.backtest(calc_bootstrap=True)
result.metrics_df

Backtesting: 2017-03-01 00:00:00 to 2022-03-01 00:00:00

Loading bar data...

[*********************100%%**********************]  3 of 3 completed

Loaded bar data: 0:00:01

Test split: 2017-03-01 00:00:00 to 2022-02-28 00:00:00

  0% (0 of 1259) |                       | Elapsed Time: 0:00:00 ETA:  --:--:--
 19% (241 of 1259) |####                 | Elapsed Time: 0:00:00 ETA:   0:00:00
 39% (501 of 1259) |########             | Elapsed Time: 0:00:00 ETA:   0:00:00
 61% (771 of 1259) |############         | Elapsed Time: 0:00:00 ETA:   0:00:00
 82% (1041 of 1259) |################    | Elapsed Time: 0:00:00 ETA:   0:00:00
100% (1259 of 1259) |####################| Elapsed Time: 0:00:00 Time:  0:00:00

Calculating bootstrap metrics: sample_size=100, samples=10000...
Calculated bootstrap metrics: 0:00:02

Finished backtest: 0:00:04

                      name          value
0              trade_count     388.000000
1     initial_market_value  500000.000000
2         end_market_value  665009.260000
3                total_pnl  165830.590000
4           unrealized_pnl    -821.330000
5         total_return_pct      33.166118
6             total_profit  402053.210000
7               total_loss -236222.620000
8               total_fees       0.000000
9             max_drawdown  -31619.460000
10        max_drawdown_pct      -4.722785
11                win_rate      52.577320
12               loss_rate      47.422680
13          winning_trades     204.000000
14           losing_trades     184.000000
15                 avg_pnl     427.398428
16          avg_return_pct       0.279639
17          avg_trade_bars       2.414948
18              avg_profit    1970.849069
19          avg_profit_pct       3.168775
20  avg_winning_trade_bars       2.465686
21                avg_loss   -1283.818587
22            avg_loss_pct      -2.923533
23   avg_losing_trade_bars       2.358696
24             largest_win   20973.750000
25         largest_win_pct      14.490000
26        largest_win_bars       3.000000
27            largest_loss  -10984.650000
28        largest_loss_pct      -6.490000
29       largest_loss_bars       3.000000
30                max_wins       7.000000
31              max_losses       7.000000
32                  sharpe       0.055208
33                 sortino       0.061908
34           profit_factor       1.317514
35             ulcer_index       0.659022
36                     upi       0.035627
37               equity_r2       0.902314
38               std_error   65830.655991

In [25]:
result.bootstrap.conf_intervals

                        lower     upper
name          conf
Profit Factor 97.5%  0.572351  4.089495
              95%    0.686388  3.537733
              90%    0.846766  3.009238
Sharpe Ratio  97.5% -0.148176  0.239946
              95%   -0.110546  0.214665
              90%   -0.069284  0.186993

In [26]:
result.bootstrap.drawdown_conf

         amount    percent
conf
99.9% -66856.42 -10.765212
99%   -50523.82  -8.102360
95%   -38047.80  -6.126216
90%   -31668.81  -5.171825

## 5. Training a Model

train and backtest machine learning models
- accurate predictions about market movements
- https://www.pybroker.com/en/latest/notebooks/6.%20Training%20a%20Model.html

---

In [3]:
# simple moving average crossover strategy  
from pybroker import Strategy, YFinance
from pybroker.indicators import sma

def ma_crossover_strategy(ctx):
    fast_ma = ctx.indicator('fast_ma')
    slow_ma = ctx.indicator('slow_ma')
    
    if fast_ma[-1] > slow_ma[-1] and fast_ma[-2] <= slow_ma[-2]:
        ctx.buy_shares = 100
    elif fast_ma[-1] < slow_ma[-1] and fast_ma[-2] >= slow_ma[-2]:
        ctx.sell_all_shares()

# Create a strategy using Yahoo Finance data
strategy = Strategy(YFinance(), start_date='2022-01-01', end_date='2023-01-01')

# Add our execution function to the strategy
strategy.add_execution(
    ma_crossover_strategy, 
    ['AAPL'], 
    indicators=[
        sma('fast_ma', 'close', 10),
        sma('slow_ma', 'close', 30)
    ]
)

# Run the backtest
result = strategy.backtest()

# Print some basic results
print(f"Total Return: {result.total_return:.2%}")
print(f"Sharpe Ratio: {result.sharpe_ratio:.2f}")

ImportError: cannot import name 'sma' from 'pybroker.indicator' (/Users/liang/miniconda3/lib/python3.10/site-packages/pybroker/indicator.py)